!!! 5
html
    head
        title secret archer
        script(src="/socket.io/socket.io.js")
        script(src="../public/javascripts/vendor.js")
        script(src="../public/javascripts/app.js", defer, onload="require('initialize');")
    body
        ! TODO: variable size?
        h1 Coffeescript HTML
        canvas#Canvas(style="width:1000px; height:1000px")

