!!! 5
html
    head
        title secret archer
        script(src="/socket.io/socket.io.js")
        script(src="../lib/jquery-1.9.1.min.js")
        script(src="../lib/easeljs-0.6.0.min.js")
        script(src="../scripts/client/game.js")        
    body
        h1 Coffeescript HTML
        canvas#Canvas(style="width:1000px; height:1000px")
