!!! 5
html
	head
		title strategy go
		//script(src="http://code.jquery.com/jquery-1.7.2.min.js")
		script(src="/socket.io/socket.io.js")
		script(src="../scripts/client/game.js")
		script(src="../scripts/easeljs-0.5.0.min.js")
		script(src="../scripts/tweenjs-0.3.0.min.js")
		//link(rel='stylesheet', href='../style.css')
	body
		h1 Coffeescript HTML
		canvas#Canvas(style="width=500px; height=500px")
